// Variables
$card-border-radius: 4px;
$card-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
$card-hover-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
$card-image-height: 200px;

// Funciones
@function card-color($color) {
  @return $color;
}

@function card-text-color($color) {
  @return $color;
}


.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  object-fit: cover;
  overflow: hidden;
  gap: 1rem;


  .card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  a {
    button {
      background-color: transparent;
      border: none;
      color: #00c4a7;
      font-weight: bold;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &:hover {
    box-shadow: $card-hover-shadow;
  }

  .card-image {
    // .productLink {

    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: -webkit-fill-available;

    img {
      width: 100%;
      height: $card-image-height;
      object-fit: cover;
      border-top-left-radius: $card-border-radius;
      border-top-right-radius: $card-border-radius;
      height: auto;
      max-width: 100%;
      vertical-align: middle;
    }

    // }
  }

  .card-content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    .card-title {
      font-size: 18px;
      font-weight: bold;
    }

    .card-description {
      font-size: 16px;
    }

    .card-price {
      font-size: 16px;
      font-weight: bold;
    }

    .card-discount {
      font-size: 14px;
    }

    .card-rating {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .card-stock {
      font-size: 14px;
      margin-bottom: 8px;
    }

    .card-brand,
    .card-category {
      font-size: 14px;
    }
  }

  .card-images {
    display: flex;
    overflow-x: auto;
    padding: 8px;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border: 1px solid #e0e0e0;
      border-radius: $card-border-radius;
      margin-right: 8px;
    }
  }
}

.carousel .control-dots .dot {
  background-color: #00c4a7 !important;
}

.control-next {
  color: #00c4a7 !important;
}

.carousel-root {
  width: 24rem;
}

.carousel .control-prev.control-arrow {
  box-shadow: inset -20px -2px 13px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem 0 0 0.5rem;
  background: linear-gradient(90deg, rgba(156, 156, 156, 0.562) 0%, rgba(255, 255, 255, 0) 100%);
}

.carousel .control-next.control-arrow {
  box-shadow: inset -20px -2px 13px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 0.5rem 0.5rem 0;
  background: linear-gradient(90deg, rgba(156, 156, 156, 0.562) 0%, rgba(255, 255, 255, 0) 100%);
}

.slider-wrapper.axis-horizontal {
  @apply rounded-lg;
}

.seeMore {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;


  button {
    width: fit-content;

    &:hover {
      box-shadow: none;
    }
  }
}

// Comportamiento en el slider
li.slide {
  width: 10vw;

  div {
    a {
      text-decoration: none;
      color: #000000;

      article.card {
        display: flex;
        height: 190px;
        border-radius: 4px;
        box-shadow: -20px -2px 13px 5px rgba(0, 0, 0, 0.1);
        flex-direction: row;
        justify-content: space-around;
        width: auto;
        padding: 0;
        align-items: center;

        .seeMore {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: min-content;
          padding: 0;

          button {
            width: max-content;
            padding: 5px;
            margin-inline-end: 1.5rem;
          }
        }

        .card-content {
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }

        .card-image {
          width: fit-content;

          img {
            height: 190px;
            width: 190px;
            max-height: 190px;
            max-width: 190px;
            padding: 0;
          }
        }
      }
    }
  }



}

@media screen and (max-width: 768px) {
  li.slide {
    width: 75px;
  }
}