.register-section{
  @apply flex flex-col justify-center items-center h-screen px-4 py-8 bg-white shadow sm:px-6 md:px-8 lg:px-10;
  width: 98.4vw;

  h2 {
    @apply self-center mb-2 text-xl font-light text-gray-800 sm:text-2xl;
  }

  span {
    @apply justify-center text-sm text-center text-gray-500 flex items-center;
  }

  input {
    @apply rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-1 focus:ring-teal-600 focus:border-transparent;
    margin-bottom: 16px;
  }


  button {
    @apply py-2 px-4 bg-teal-600 hover:bg-teal-800 focus:ring-teal-600 focus:ring-offset-teal-50 text-white w-full text-center text-base font-semibold shadow-md focus:outline-none focus:ring-1 focus:ring-offset-1 rounded-lg;
    width: auto;
    height: auto;
    transition: none;

  }


  .error-message {
    @apply text-red-500 text-sm animate-pulse;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

}