nav {
  .navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .button--menu {
    width: 40px;
    height: 40px;
    padding: 0.5rem;
    border: none;
    background-color: #D5DBDB;

    svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: transparent;
      color: #0E3130;
    }

    &:focus {
      background-color: transparent;
      color: #0E3130;
    }

    &:active {
      background-color: transparent;
      color: #0E3130;
    }
  }

  @media screen and (max-width: 700px) {
    .log-buttons {
      display: none;
    }

    .nav-item {
      display: none;
    }

    .menu--web {
      display: none;
    }
  }
}