.footer {
  @apply bg-gray-50;

  .footer-container {
    @apply max-w-screen-xl px-1 py-3 sm:px-6 lg:px-8 flex flex-row justify-between items-center mx-auto;

    .footer-container__section {
      @apply sm:flex sm:items-center sm:justify-start;

      .footer-logo {
        @apply flex justify-center text-teal-600 sm:justify-start;
      }

      .footer-copy {
        @apply mt-4 text-center text-sm text-gray-500 lg:mt-0 lg:text-right;
      }

    }
    .footer-social {
      @apply mt-4 flex justify-center space-x-6 sm:order-2 text-xl;
    }
  }
}