.login {
  @apply flex min-h-screen items-center justify-center bg-slate-100 p-4;
  width: 99vw;

  .login-card {
    @apply bg-gray-400 rounded-2xl bg-opacity-20 backdrop-blur-lg drop-shadow-lg flex items-center text-gray-500 flex-col gap-5 justify-center w-full max-w-screen-md p-10;
  }

  .form {
    @apply flex flex-col gap-5 items-center justify-center;
    width: 50%;

    .input-email,
    .input-password {
      @apply rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-1 focus:ring-teal-600 focus:border-transparent;
      margin-bottom: 5px;
      font-family: inherit;
    }

    .input-password {
      margin-bottom: 20px;
    }


  }

  .btn-login {
    @apply py-2 px-4 bg-teal-600 hover:bg-teal-800 focus:ring-teal-600 focus:ring-offset-teal-50 text-white w-full text-center text-base font-semibold shadow-md focus:outline-none focus:ring-1 focus:ring-offset-1 rounded-lg;
    width: auto;
    height: auto;
    transition: none;
    font-family: inherit;
  }

  @media screen and (max-width: 768px) {
    .form {
      width: 90%;
    }
  }

  .error-message {
    @apply text-red-500 text-sm text-center animate-pulse;
    font-family: inherit;
    margin-top: -10px;
    margin-bottom: 16px; 
    padding-left: 18px;
  }
}