.modal-success {
  @apply bg-green-200 border-green-600 text-green-600 border-l-4 p-4 rounded-lg shadow-lg;
  position: fixed;
  top: 1rem;
  right: -100%;
  transition: right 1s ease-in-out;
  z-index: 2;
  
  &.show {
    right: 0;
  }

  .modal-title {
    @apply font-bold;
  }

  .modal-text {
    @apply text-lg;
  }

  .modal-close {
    @apply absolute top-0 right-0 m-4 text-green-600 hover:text-green-800 cursor-pointer;
  }

  .modal-actions {
    @apply flex justify-end mt-4;

    .modal-button-cancel {
      @apply bg-green-600 hover:bg-green-800 text-white px-4 py-2 rounded-lg mr-4;
    }

    .modal-button-accept {
      @apply bg-green-600 hover:bg-green-800 text-white px-4 py-2 rounded-lg;
    }
  }
}