.product-page {
  @apply mt-40 pb-4;

  .product-container {
    @apply px-6;

    .title-container {
      @apply flex flex-row justify-end items-center gap-4 mt-4 mb-4 text-lg;

      .btn-back {
        @apply flex flex-row items-center gap-4 text-gray-500 py-1 px-1 rounded font-bold text-sm mb-10; 
      }
    }

    .product-hero {
      @apply flex flex-col md:flex-row md:items-center md:justify-evenly;

      .product-figure {
        @apply w-full h-64 md:w-1/2 lg:h-96;

        .product-img, .no-img {
          @apply mx-auto;
        }

        .product-img {
          @apply h-full w-full rounded-md object-cover max-w-lg cursor-pointer;
          
        }
        

        .no-img {
          @apply w-full max-w-sm rounded-md shadow-md overflow-hidden;
        }
      }


      .gallery {
        @apply grid gap-1 grid-cols-1 md:grid-cols-2;

        .gallery-figure {
          @apply w-full max-w-sm mx-auto rounded-md shadow-md overflow-hidden cursor-pointer;

          img {
            @apply w-full h-56 object-cover object-center shadow-md;
          }
        }

        .gallery-figure-active {
          display: none;
        }
      }
    }
  }


  .product-description-section {
    @apply container px-6;
    
    .product-title {
      @apply text-gray-500 text-2xl font-bold flex flex-row items-center;
      
      .btn-share{
        @apply rounded font-bold text-xl ml-4;
      }
    }

    .product-price {
      @apply text-gray-500 mt-3;
    }
    
    .product-description-text, .product-description-title, .product-description-category {
      @apply text-gray-500 mt-3;

      &.product-description-title, &.product-description-category {
        @apply font-bold;
      }

      &.product-description-text {
        @apply text-sm;
        overflow-wrap: break-word;
      }
    }
  }

  .characteristics-section {
    @apply container mx-auto px-6;
    


    .characteristics-title {
      @apply text-gray-500 text-lg font-bold flex flex-row items-center mt-4;
    }

    .characteristics-list {
      @apply grid gap-1 grid-cols-1 md:grid-cols-2 text-gray-500 text-sm mt-3 text-justify items-center;
    }
    .characteristics-list-item {
      @apply flex flex-row items-center gap-4;
    }
  }


  @media screen and (max-width: 768px) {
    .product-figure {
      margin-block-start: 2rem;
    }
    .gallery{
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      flex-direction: row !important;

      .gallery-figure {
        width: 72px !important;
        height: 80px !important;
        img{
          object-fit: contain !important;
          object-position: top !important;
        }
      }
    }
    .product-title {
      margin-block-start: 1rem;
    }
    .product-container {
      @apply px-4;
    }

    .product-hero {
      @apply flex-col; 
    }

    .gallery {
      @apply mt-2 grid-cols-1;
    }

    .description-container{
      padding: 1rem;
      .product-description-text{
        width: fit-content;
      }
    }
  }
}

.hover-container {
  position: relative;
  
  .product-img {
    @apply h-full w-full rounded-md object-cover max-w-lg cursor-pointer transition-transform transform duration-500;
    &:hover {
      @apply scale-105;
    }
  }

  .hover-text {
    @apply absolute inset-0 flex items-center justify-center text-lg font-bold text-white opacity-0 transition-opacity duration-500 bg-black bg-opacity-50 cursor-pointer;
    width: 69.1%;
    left: 15.4%;
    border-radius: 4px;
    &:hover {
      @apply opacity-100;
    }
  }
  .hover-text-gallery {
    @apply absolute inset-0 flex items-center justify-center text-lg font-bold text-white opacity-0 transition-opacity duration-500 bg-black bg-opacity-50 cursor-pointer;
    border-radius: 4px;
    &:hover {
      @apply opacity-100;
    }
  }
}




@media screen and (max-width: 700px) {
.product-page{
  margin-top: 5rem!important;
}
  .title-container{
    display: inline-block;
  }
  .product-description-text{
    width: 21rem!important;
  }
}
/* Estilos del modal */
.modal-background {
  @apply fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50 z-50;
}

.zoomed-image {
  @apply object-contain;
  max-height: 80vh;
  max-width: 80vw;
}

.close-modal-btn {
  @apply absolute top-4 right-4 bg-white p-2 rounded-full cursor-pointer text-center font-bold w-10;
}
