.modal-danger {
  @apply bg-red-200 border-red-600 text-red-600 border-l-4 p-4 z-10 rounded-lg shadow-lg;
  position: fixed;
  top: 1rem;
  right: -100%;
  transition: right 1s ease-in-out;

  &.show {
    right: 0;
  }

  .modal-title {
    @apply font-bold;
  }

  .modal-text {
    @apply text-lg;
  }

  .modal-close {
    @apply absolute top-0 right-0 m-4 text-red-600 hover:text-red-800 cursor-pointer;
  }

  .modal-actions {
    @apply flex justify-end mt-4;

    .modal-button-cancel {
      @apply bg-red-600 hover:bg-red-800 text-white px-4 py-2 rounded-lg mr-4;
    }

    .modal-button-accept {
      @apply bg-red-600 hover:bg-red-800 text-white px-4 py-2 rounded-lg;
    }
  }
}