.product-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 1.5rem;
  margin: 1rem 0;
  justify-items: center;
  align-items: end;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  button {
    background-color: #00c4a7;
    font-weight: bold;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;

    &:disabled {
      background-color: #ccc;
      cursor: not-allowed;
    }
  }

  span {
    margin: 0 10px;
    font-weight: bold;
  }
}

.recommended {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1rem;
}

@media (max-width: 500px) {
  .product-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}