@function button-color($state) {
  @if $state =="normal" {
    @return rgb(187, 187, 187);
  }

  @else if $state =="signUp" {
    @return #00d1b2;
  }

  @else if $state =="signIn" {
    @return transparent;
  }

  @else if $state =="card" {
    @return #00d1b2;
  }

  @else if $state =="hover" {
    @return rgba(54, 54, 54, 0.699);
  }

  @else if $state =="focus" {
    @return #00d1b2;
  }

  @else if $state =="disabled" {
    @return rgba(82, 82, 82, 0.274);
  }

  @else if $state =="active" {
    @return rgba(74, 247, 181, 0.801);
  }

  @else {
    @return rgb(255, 255, 255);
  }
}

.button {
  background-color: button-color("normal");
  border-radius: 0.25rem;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 11em;

  &:hover {
    box-shadow: -1px 2px 5px button-color("hover");
  }

  &:active {
    background-color: button-color("active");
    box-shadow: 2px 2px 5px #494949;
  }

  &:focus {
    background-color: button-color("focus");
  }


  &.button--disabled {
    pointer-events: none;
    background-color: button-color("disabled");
  }

}

.button--signUp {
  font-weight: bold;
  text-decoration: none;
  background-color: button-color("signUp");
  border-radius: 2rem;
  border-color: transparent;
  color: #fff;

  &:hover {
    cursor: pointer;
    background-color: #00c4a7;
  }
}

.button--signIn {
  color: rgb(36, 36, 36);
  text-decoration: none;
  font-weight: bold;
  background-color: button-color("signIn");
  border-radius: 2rem;
  border: 0.5px solid rgba(255, 254, 254, 0.219);

  &:hover {
    box-shadow: none;
    cursor: pointer;
    color: rgb(22, 78, 33);
    background-color: #49494915;
  }
}



.button--card {
  background-color: transparent;
  color: button-color("card");
  border: none;
  font-weight: bold;

  &:hover {
    box-shadow: -1px 2px 5px button-color("hover");
    cursor: pointer;
  }

}

.log-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}