.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .logoImg{
    width: 60px;
    height: 60px;
  }

  .lemaImg{
    width: 200px;
    height: 60px;
  }


  @media screen and (max-width: 700px) {
    .logoImg{
      width: 40px;
      height: 40px;
    }
  
    .lemaImg{
      width: 150px;
      height: 40px;
    }
  }
}