.category-grid {
  @apply grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8 p-4;

  .category-card {
    @apply overflow-hidden rounded-lg shadow transition hover:shadow-lg;
    border-radius: 5px;

    .category-section {
      @apply bg-white;

      .category-img {
        @apply h-56 w-full object-cover;
      }

      .category-title {
        @apply mt-0.5 ml-4 text-lg font-bold;
        color: #CC6C13;
      }

      .category-description {
        @apply mt-1 ml-4 text-gray-500 text-sm pb-4;
      }
    }
  }
}