
#root {
  isolation: isolate;


  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    

    .section-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 89vh;
      width: 100%;
      padding: 0 20px;
    }
  }
}