.cardHome {
  @apply overflow-hidden rounded-lg shadow-lg cursor-pointer md:w-80 w-60 h-80;

  .cardImg {
    @apply object-cover w-full max-h-40 h-40;
  }

  .card-link {
    @apply flex flex-col items-center bg-white;
    .no-img {
      @apply  max-h-40 h-40 bg-white;
    }
  }

  .section-data {
    @apply w-full p-2 h-40 bg-white;

    .category-badge{
      @apply mb-2 text-xs font-medium text-white bg-orange-400 px-3 py-1;
      border-radius: 5px;
    }


    .title {
      @apply mb-2 text-xl font-medium text-gray-800;
    }

    .description {
      @apply font-light text-gray-500 text-sm text-ellipsis;
    }
  }

}