.table {
  @apply min-w-fit leading-normal shadow-md overflow-hidden rounded-md my-6 mx-6;

  .article-th,
  .description-th,
  .price-th,
  .stock-th,
  .actions-th {
    @apply px-5 py-3 text-sm font-normal text-left text-gray-800 uppercase bg-white border-b border-gray-200;
  }

  tbody {

    .image-td {
      @apply px-5 py-5 text-sm bg-white border-b border-gray-200;

      .image-td--article {
        @apply flex items-center;

        .image-td--article__figure {
          @apply flex-shrink-0;

          .image-td--image {
            @apply mx-auto object-cover rounded-full h-10 w-10;
          }
        }

        .product-title {
          @apply ml-3 font-medium text-gray-900 text-ellipsis;
        }
      }
    }

    .description-td {
      @apply px-1 py-2 text-sm bg-white border-b border-gray-200;

      .description-p {
        @apply text-gray-900;
        text-wrap: wrap;
      }
    }

    .category-td {
      @apply px-5 py-5 text-sm bg-white border-b border-gray-200 capitalize;
    }

    .price-td {
      @apply px-5 py-5 text-sm bg-white border-b border-gray-200;
    }

    .stock-td {
      @apply px-5 py-5 text-sm bg-white border-b border-gray-200;
    }

    .actions-td {
      @apply text-sm bg-white border-b border-gray-200;

      .actions-ul {
        @apply flex flex-row gap-2 flex-col;
      }
    }
  }
}