.add-product {
  max-width: 600px;
  margin-block-start: 5rem;
  margin-block-end: 1rem;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;

  @apply bg-white rounded-lg shadow-lg p-6;

  form.add-product__form {
    display: flex;
    flex-direction: column;
    height: 100%;


    .form-label {
      @apply text-gray-700 font-bold mb-2;
    }

    .form-input {
      @apply rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-emerald-300 focus:border-transparent;
    }
  }

  .page-title {
    @apply text-3xl font-bold text-center;
  }

  .error-message {
    @apply text-red-500 text-sm font-bold text-center animate-pulse;

  }
}
.preview-title {
  @apply text-2xl font-bold text-center;
}
.image-preview__container {
  @apply flex flex-row items-center justify-center;
  gap: 1rem;
  margin-block-end: 4rem;

  .image-preview {
    @apply flex flex-row max-h-40;

    img {
      @apply object-cover w-40 rounded-xl shadow-lg;
    }
  }
}