.product-list {
  @apply flex flex-wrap flex-col items-center justify-center;

  .button-list {
    @apply px-6 py-2 transition ease-in duration-200 uppercase rounded-full hover:bg-gray-800 hover:text-white border-2 border-gray-900 mb-14;
  }

  .no-product {
    @apply bg-red-200 border-red-600 text-red-600 border-l-4 p-4 z-10 rounded-lg shadow-lg;
  }
}