.searcher {
  margin-block-start: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 1rem;
  background: #1F4241;
  width: 100%;
  height: 120px;
  padding: 2rem;

  .section-title {
    @apply text-white font-bold;
  }

  span {
    cursor: pointer;
  }


  .serch-date {
    @apply text-white font-bold flex items-center justify-center gap-2 w-full h-full;
  }
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
}

@media (max-width: 700px) {
  .searcher {
    flex-direction: column;
    margin-block-start: 4.5rem;
    height: 200px;
  }

  .input-container {
    flex-direction: column;
    gap: 30;
    justify-content: normal;
  }
}
section.search-date {
    height: auto;
    display: flex;
    // flex-direction: row;
    justify-content: center;
}