.navbar-menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fdfdfd;
  padding: 16px;
  position: absolute;
  top: 58px;
  right: 16px;
  list-style: none;
  z-index: 1;
  box-shadow: 0px 8px 10px 0px rgb(0 0 0 / 33%);
  border-radius: 8px;
  height: fit-content;
  width: fit-content;

  @media screen and (min-width: 700px) {
    display: none; 

  }

  li {
    font-size: 16px;
    cursor: pointer;
  }
}

.active {
  display: flex;
}

@media screen and (min-width: 700px) {
  button.button.button--menu {
    display: none;
  }

  .active {
    display: none;
  }
}