header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  padding: 1rem;
  position: fixed;
  background: #f4ffff;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      // width: 100%;
      font-weight: bold;
      // gap: 1rem;
      padding-inline-start: 0;

      li {
        a {
          color: rgb(29, 29, 29);
          text-decoration: none;
          font-size: 1rem;
          font-weight: bold;
          transition: all 0.3s ease-in-out;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  nav ul {
    font-size: 12px;
  }

}