.avatar {
    @apply w-12 h-12 rounded-full object-cover object-center bg-emerald-600 border-2 border-gray-300 shadow-md transition-all duration-300 ease-in-out flex justify-center items-center gap-2 cursor-pointer hover:shadow-sm transition-all duration-300 ease-in-out;

    .avatar-text {
        @apply text-white uppercase font-bold text-2xl;
        letter-spacing: 0.1rem;
    }

    .user-actions {
        @apply absolute top-20 right-4 flex flex-col gap-2 p-4 bg-white rounded-md shadow-md;

        .user-action {
            @apply flex items-center gap-2 cursor-pointer hover:text-emerald-600;

            .user-action-text {
                @apply text-gray-600 font-semibold cursor-pointer hover:text-emerald-600;
            }
        }
        .logout-text {
            @apply cursor-pointer hover:text-red-800 transition-all duration-300 ease-in-out;
        }
    }
}